<div class="form-wrapper">
  <h3>{{ name }}</h3>
  <form action="{{ url }}" method="{{ method }}" id="{{ name }}">
    {% for field in send %}
      <label>
        {% set toUrl = addToUrls and addToUrls.indexOf(field) != -1 %}{% if toUrl %}{{ '* ' }}{% endif %}
        {% set toUrlAsQuery = not toUrl and addToUrlsAsQuery and addToUrlsAsQuery.indexOf(field) != -1 %}{% if toUrlAsQuery %}{{ '? ' }}{% endif %}
        {{ field }}
        <input name="{{ field }}"{% if toUrl %}{{ ' data-to-url="1"' }}{% endif %}
            {% if toUrlAsQuery %}{{ ' data-to-url-as-query="1"' }}{% endif %}>
      </label>
    {% endfor %}
    <button class="send">send</button>
    {% if scenarios is defined %}
    <button class="fill">fill</button>
    {% endif %}
    <div class="result"></div>
  </form>
</div>
<hr/>