<div class="form-wrapper">
  <h3>{{ name }}</h3>
  <form action="{{ url }}" method="{{ method }}" id="{{ name }}">
    {% for field in send %}
      <label>
        {{ field }}
        <input name="{{ field }}">
      </label>
    {% endfor %}
    <button class="send">send</button>
    {% if scenarios is defined %}
    <button class="fill">fill</button>
    {% endif %}
    <div class="result"></div>
  </form>
</div>
<hr/>