{% extends 'layout.twig' %}

{% block scripts %}
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
  <script src="javascripts/twig.js"></script>
{% endblock %}


{% block content %}
  <h1>For development only</h1>
  <div id="routes" style="display: none;">
  <table>
    {% for i,obj in stack %}
      <tr>
        <td><h5>{{ obj.name }}</h5></td>
        <td>#{{ i }}</td>
        <td>
          <pre>{{ obj.handle }}</pre>
        </td>
        <td>{{ obj.regexp }}</td>
        <td>
          <blink>{{ obj.itself ? 'this routing now get this info' : '' }}</blink>
        </td>
        <td>{{ obj.my ? '<b>own routing</b>' : 'vendor' }}</td>
        <td>{{ obj.descr }}</td>
      </tr>
    {% endfor %}
  </table>
  </div>
  <hr/>
  <h2>Test cases</h2>
  <label for="global-token"><h3>enter token global:</h3></label><input id="global-token">
  <script src="javascripts/test.js"></script>

{% endblock %}